<div class="p-about">
  <div class="p-about__inner">
    <h2 class="p-about__title">
      WHO<br />
      AM<br />
      I ?
    </h2>
  </div>
  <div class="p-about__content">
    <p class="c-button">READ MORE</p>
  </div>
</div>

<i class="fas fa-dog fa-3x"></i>
<i class="far fa-comments fa-3x"></i>
<i class="fas fa-cat fa-3x fa-flip-horizontal"></i>