<div class="p-about">
  <div class="p-about__inner">
    <h2 class="p-about__title">
ABOUT
    </h2>
  </div>
  <div class="p-about__content jsc-pop-button">
    <p class="c-button">READ MORE</p>
  </div>

  <div class="c-pop jsc-pop-content">
    <div class="c-pop__bg jsc-pop-close"></div>
    <div class="c-pop__main">
      <p>自己紹介テキスト</p>
    </div>
  </div>
</div>

