<div class="p-about">
  <div class="p-about__inner">
    <h2 class="p-about__title">
      WHO<br />
      AM<br />
      I ?
    </h2>
  </div>
  <div class="p-about__content">
    <p class="c-button jsc-pop-button">READ MORE</p>
  </div>
</div>

<div class="c-pop">
  <div class="c-pop__bg js-pop-close"></div>
  <div class="c-pop__main">
    <p>自己紹介テキスト</p>
  </div>
</div>

<i class="fas fa-dog fa-3x"></i>
<i class="fas fa-cat"></i>
<i class="fas fa-long-arrow-alt-right"></i>
<i class="fab fa-amazon"></i>
