        <div class="p-contact">
          <div class="p-contact__wrapper">

            <div class="p-contact__title">
              <h1>Contact</h1>
            </div>

            <div class="p-contact__content">
              <div class="p-contact__input">
                <div class="p-contact__inputTitle p-contact__required">
                  <p>お名前</p>
                </div>
                <input class="p-contact__field" placeholder="山田太郎" type="text" />
              </div>

              <div class="p-contact__input">
                <div class="p-contact__inputTitle p-contact__required">
                  <p>メールアドレス</p>
                </div>
                <input class="p-contact__field" placeholder="text@example.com" type="mail" />
              </div>

              <div class="p-contact__input">
                <div class="p-contact__inputTitle">
                  <p>お問い合わせ種別</p>
                </div>
                <select class="p-contact__field p-contact__select">
                  <option hidden>---</option>
                  <option>セレクトA</option>
                  <option>セレクトB</option>
                  <option>セレクトC</option>
                </select>
              </div>

              <div class="p-contact__input">
                <div class="p-contact__inputTitle">
                  <p>お問い合わせ内容</p>
                </div>
                <textarea class="p-contact__field p-contact__textarea" placeholder="お問い合わせを入力してください"></textarea>
              </div>

              <div class="">
                <label>
                  <input class="p-contact__radio" type="radio" name="radio-name" />
                  <span>ラジオ１</span>
                </label>
                <label>
                  <input class="p-contact__radio" type="radio" name="radio-name" />
                  <span>ラジオ２</span>
                </label>
                <label>
                  <input class="p-contact__radio" type="radio" name="radio-name" />
                  <span>ラジオ３</span>
                </label>
              </div>

              <div class="check">
                <label>
                  <input class="input-check" type="checkbox" /><span><a href="#">プライバシーポリシー</a>に合意する</span>
                </label>
              </div>

              <div class="btn">
                <a href="#">送信する</a>
              </div>
            </div>
          </div>
        </div>
      </div>
