
  <footer class="l-footer">

    <div class="l-footer__inner">

      <ul class="l-footer__list">
        
        <li class="l-footer__listItem">
          <a href="" class="l-footer__listLink">ABOUT</a>
        </li>
        
        <li class="l-footer__listItem">
          <a href="" class="l-footer__listLink">SKILL</a>
        </li>
        
        <li class="l-footer__listItem">
          <a href="" class="l-footer__listLink">WORKS
          </a>
        </li>
        
        <li class="l-footer__listItem">
          <a href="" class="l-footer__listLink">CONTACT</a>
        </li>
      </ul>
      
      <ul class="l-footer__sns">
        <li class="l-footer__snsItem">
          <a href="">
            <i class="fab fa-2x fa-youtube"></i>
          </a>
        </li>
        
        <li class="l-footer__snsItem">
          <a href="">
            <i class="fab fa-2x fa-instagram"></i>
          </a>
        </li>
        
        <li class="l-footer__snsItem">
          <a href="">
            <i class="fab fa-2x fa-facebook-f"></i>
          </a>
        </li>
        
        <li class="l-footer__snsItem">
          <a href="">
            <i class="fab fa-2x fa-twitter"></i>
          </a>
        </li>
      </ul>

      <!-- l-footer__sns -->
      <div class="l-footer__logo">
        <img
          src="assets/image/logo.png"
          alt=""
        />
      </div>
    </div>
  </footer>

</div><!-- l-wrap -->
</body>
</html>