<header class="l-header">
  <div class="l-header__inner">
    <div class="l-header__logo">
      <img src="assets/image/logo.png" alt="マーケティングのスペシャリスト　見本商会">
    </div>
    <div class="l-header__search">
      <img src="assets/image/icon-search.png" alt="検索アイコン">
    </div>
    <div class="l-header__navWrap">
      <img src="assets/image/icon-hamburger.png" class="l-header__hamburger l-header__hamburger--open jsc-toggle-button" alt="メニューボタン">
      <img src="assets/image/icon-hamburger.png" class="l-header__hamburger l-header__hamburger--close  jsc-toggle-button" alt="メニューを閉じる">
      <nav class="l-header__nav jsc-nav-wrap">
        <ul class="l-header__list">
          <li class="l-header__listItem">
            <a href="" class="l-header__listLink">サービス</a>
            <div class="l-header__subList">
              <ul class="l-header__subInner">
                <li class="l-header__subItem">
                  <a href="#" class="l-header__subLink">サービス一覧</a>
                </li>
                <li class="l-header__subItem">
                  <a href="#" class="l-header__subLink">ポジショニングメディア</a>
                </li>
              </ul>
            </div><!-- l-header__subList -->
          </li>
          <li class="l-header__listItem">
            <a href="" class="l-header__listLink">資料</a>
          </li>
        </ul>
      </nav>
    </div>
  </div><!-- l-header__inner -->
</header>
<div style="margin-bottom:300px;"></div>