<div class="p-skill">
  <h2 class="p-skill__title">SKILL</h2>
  <div class="p-skill__inner">
  </div>
  <div class="p-skill__content jsc-pop-button">
    <p class="c-button">READ MORE</p>
  </div>

  <div class="c-pop jsc-pop-content">
    <div class="c-pop__bg jsc-pop-close"></div>
    <div class="c-pop__main">
      <h3>開発環境</h3>
      <p>Gitによるバージョン管理<br>
      Node.jsを用いたフロントエンド開発<br>
      webpack(yarn)を使用した<br>
      backlogを利用したタスク・進捗管理
      </p>
      <h3>HTML/CSS/JavaScript</h3>
      <p>BEMを用いた<br>
        基本的なマークアップ技術<br>
        SCSS<br>
        jQueryプラグイン<br>
      </p>
      <h3>MORE</h3>
<p>BOOT STRAP<br>
  WordPress
</p>
    </div>
  </div>
</div>
