<div class="p-skill">
  <h2 class="p-skill__title">SKILL</h2>
  <div class="p-skill__inner">
  </div>
  <div class="p-skill__content jsc-pop-button">
    <p class="c-button">READ MORE</p>
  </div>

  <div class="c-pop jsc-pop-content">
    <div class="c-pop__bg jsc-pop-close"></div>
    <div class="c-pop__main">
      <p>スキルセット詳細</p>
    </div>
  </div>
</div>
<i class="fas fa-dog fa-3x"></i>
<i class="fas fa-cat"></i>
<i class="fas fa-long-arrow-alt-right"></i>
<i class="fab fa-amazon"></i>
<i class="fab fa-amazon"></i>
