.c-pop{
  display: none;
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left:0;
  z-index:9997;

&__bg{
  background-color: #1119;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:9998;
}
&__main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:9999;
  background-color: #fff;
  
      @include mq(o-sp) {
  padding: 0px;
    }
    @include mq(u-sp) {
    }
}

&__title{
        @include mq(o-sp) {

    }
    @include mq(u-sp) {
    }
  }
  
&__text{
        @include mq(o-sp) {

    }
    @include mq(u-sp) {
    }
  }


}
