.l-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #000;
  padding: 0;
  color: #fff;
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
    min-width: auto;
  }

  &__description {
    font-size: 1rem;
    overflow: hidden;
    width: 100%;
    height: 17px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    color: #efefef;
    line-height: 17px;

    &.is-active {
      height: 0;
    }

    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      font-size: 10px;
      padding: 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__inner {
    @include mq(o-sp) {
      display: flex;
      flex-direction: row;
      padding: 0;
      flex-wrap: wrap;
      justify-content:space-between ;
    }
    @include mq(u-sp) {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__logo {
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      width: 100%;
      height: 100%;
      min-height: auto;
      margin: 0;
      background: #000;
    }
    img {
      width: 30vw;
      max-width: 250px;
    }
  }

  &__navWrap {
    @include mq(o-sp) {
      width: 500px;
    }
    @include mq(u-sp) {
      display: block;
    }
  }

  &__hamburger {
    @include mq(o-sp) {
      display: none;
    }
    @include mq(u-sp) {
      height: 10vw;
      position: absolute;
      right: 2.5vw;
      top: 2vw;
      width: 10vw;
    }
  }

  &__hamburger--open {
    @include mq(u-sp) {
      display: block;
      &.is-open {
        display: none;
      }
    }
  }

  &__hamburger--close {
    @include mq(u-sp) {
      display: none;
      &.is-open {
        display: block;
      }
    }
  }

  &__nav {
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      display: none;
      position: absolute;
      bottom: -1;
      right: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      background: rgba(25, 167, 142, 0.9);
    }
  }

  &__list {
    @include mq(o-sp) {
      display: flex;
    }
  }

  &__listItem {
    @include mq(o-sp) {
      font-size: 1.2rem;
      display: flex;
      margin-right: 2.5%;
      padding: 1rem;
      justify-content: center;
      align-items: center;
    }
    @include mq(u-sp) {
      height: auto;
    }
  }

  &__listLink {
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      color: #fff;
      display: block;
      font-size: 4.5vw;
      letter-spacing: 0.1vw;
      max-width: 100%;
      padding: 3.33333vw 4vw 3.33333vw 13.33333vw;
      position: relative;
      width: 100%;

      &::before {
        background: url("#{$bgPath}icon-arrow.png") no-repeat;
        background-size: 4.8vw 5vw;
        content: "";
        height: 5vw;
        left: 5.33333333vw;
        position: absolute;
        top: calc(50% - 2.5vw);
        width: 4.8vw;
      }
    }
  }

  &__sns {
    @include mq(o-sp) {
      display: flex;
    }
    @include mq(u-sp) {
      display: none;
    }
  }
}
