.p-contact {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 50px 0;
  background-color: #fff;

  &__title {
    border: solid #000;
    border-width: 0 0 1rem;
    overflow: hidden;
    width: 100%;
    font-family: "Noto Sans JP";
    font-weight: 1000;
    color: #000;
    background-color: #fff;
    line-height: 0.8;
    text-align: center;
    letter-spacing: -0.1em;
    @include mq(o-sp) {
      font-size: 8rem;
    }
    @include mq(u-sp) {
      font-size: 5rem;
    }
  }

  &__inner {
    width: 1800px;
    max-width: 100%;
    min-height: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__content {
    background-color: #fff;
  }

  &__input {
  }

  &__inputTitle {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
  }

  &__field {
    width: 100%;
    max-width: 528px;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #707070;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    height: 30px;
  }

  &__textarea {
    height: 100px;
  }

  &__btn {
    margin-top: 3rem;
    width: 100%;
    p {
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      background-color: #000;
      padding: 15px 87px;
      border-radius: 12px;
      position: relative;
    }
  }
}
