.p-works {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 50px  0;
  text-align: left;
  background-repeat: no-repeat;
  background-position: top;
  background-clip: content-box;
  background-size: cover;
  background-color: #fff;
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.85;
    text-align: left;
    overflow: hidden;
    transform-origin: left center;
    letter-spacing: -0.1em;
    font-weight: bold;
    @include mq(o-sp) {
      writing-mode: vertical-rl;
      width: 25%;
      height: 100%;
      font-size: 20vw;
      line-height: 1;
    }
    @include mq(u-sp) {
      font-size: 8rem;
    }
  }
  &__inner {
    position: relative;
    height: 50vh;
    background-position: top;
    background-size: cover;
    @include mq(o-sp) {
      margin: 0 0 0 auto;
      width: 75%;
    }
    @include mq(u-sp) {
width: 100%;
    }
  }

  &__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include mq(o-sp) {

    }
    @include mq(u-sp) {
width: 100%;
    }
  }

  &__list {
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
    }
  }

  &__item {
  }
}
